/*Oskars demo stylesheet */
body
{
    font-family: Arial;
    font-size: 18px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

h1
{
    color: blue;
    font-size: 48px;
}

h2
{
    color: blue;
    font-size: 32px;
}

header
{
    max-width: 1024px;
    border: 1px solid green;
    margin-bottom: 30px;
    background-color: #00163b;
    padding: 10px;
}

footer
{
    display: flex; /* Vandret display*/
    justify-content: space-between; /* lige meget plads mellem */
    margin-top: 30px;
    border-top: 1px solid #00163b;
    padding-top: 10px;
}

/*on id uses #*/
#navn
{
    float: left;
    width: 70px;
}

#email
{
    float: left;
    width: 70px;
}

#UnderOverSkrift
{
    color: black;
    font-size: 18px;
    font-style: italic; /* kursiv - slet for at fjerne*/
}

/* on class uses . */
.HTMLtitel
{
    color: #00163b;
    font-size: 48px;

}

.labelnavn
{
    float: left;
    width: 70px;
}

.formsection
{
    margin-bottom: 10px;
}

.formitem
{
    margin-bottom: 5px;
}

#demotable
{
    border: 1px solid silver;
    padding: 5px;
    border-collapse: collapse;
}

#demotable td
{
    border: 1px solid silver;
    padding: 10px;
}
#demotable th
{
    border: 1px solid silver;
    color: Black;
    padding: 10px;
}